.featured-posts {
	position: relative;
	z-index: 3;
	padding: 10rem 0;
	.featured-post {
		color: $white;
		margin: 0 0.75rem;
		position: relative;
		top: 0rem;
		transition: 0.4s all;
   		-webkit-transition: all 0.4s;
		&:hover {
			background: $green;
			top: -2rem;
			-webkit-box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
			-moz-box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
			box-shadow: 0 0.0 1rem 0 rgba(255, 255, 255, 0.5);
			transition: 0.4s all;
   			-webkit-transition: all 0.4s;
			.icon {
				object {
					filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(480deg) brightness(100%) contrast(100%);
				}
			}
			@media (max-width: 992px) {
				top: 0;
			}
		}
		.icon {
			border: 0.4rem solid $white;
			border-radius: 100%;
			object {
				width: 10rem;
				height: 10rem;
				display: block;
				padding: 1.5rem;
				filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(480deg) brightness(73%) contrast(97%);
			}
		}
	}
}

.home {
	.featured-posts {
		padding: 0;
		margin-top: -9rem!important;
		@media (max-width: 992px) {
			margin-top: 0!important;
		}
	}
}