#footer {
	#menu-footer-menu {
		padding-left: 0;
		@media (max-width: 768px) {
			padding-top: 2rem;
		}
		li {
			display: inline-block;
			list-style: none;
			margin-left: 2rem;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			@media (max-width: 768px) {
				display: block;
				margin-left: 0;
			}
			a {
				color: $white;
				display: block;
				transition: 0.2s all;
				-webkit-transition: all 0.2s;
				&:hover {
					color: $red;
				}
			}
		}
		.current-menu-item {
			a {
				color: $red;
			}
		}
    }
	.social {
		a {
			color: $white;
			font-size: 2rem;
			margin-right: 1rem;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}