#header {
   	transition: 0.4s all;
   	-webkit-transition: all 0.4s;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	&.scrolled {
		background: rgba(35, 35, 54, 0.5);
		z-index: 9;
		transition: 0.4s all;
   		-webkit-transition: all 0.4s;
	}
	nav {
		#menu-toggle {
			font-size: 2rem;
			color: $white;
			z-index: 999;
			cursor: pointer;
			position: relative;
			padding: 0.5rem 1rem;
		}
		#menu-primary-navigation {
			@media (max-width: 992px) {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 9;
				top: 0;
				right: 0;
				background: $black;
				overflow-x: hidden;
				padding: 7.5rem 0;
				transition: 0.5s;
			}
			li {
				display: inline-block;
				list-style: none;
				text-align: center;
				position: relative;
				text-transform: uppercase;
				font-weight: 700;
				@media (max-width: 992px) {
					display: block;
					margin: 0;
					border-bottom: 1px solid $black;
					&:last-of-type {
						border-bottom: none;
					}
				}
				a {
					color: $white;
					display: block;
					border-radius: 0 0 0.25rem 0.25rem;
					padding: 3rem 1.5rem;
					transition: 0.2s all;
   					-webkit-transition: all 0.2s;
					&:hover {
						background-color: $green;
						-webkit-box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
						-moz-box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
						box-shadow: 0 0.0 0.5rem 0 rgba(255, 255, 255, 0.5);
					}
					@media (max-width: 992px) {
						padding: 1rem 0;
					}
				}
			}
			.menu-item-has-children {
				&:hover {
					.sub-menu {
						visibility: visible;
						opacity: 1;
						max-height: 1000px;
						transition: 0.4s all;
   						-webkit-transition: all 0.4s;
					}
				}
				.sub-menu {
					visibility: hidden;
					opacity: 0;
					max-height: 0;
					position: absolute;
					background: $white;
					margin: 0;
					padding: 0;
					width: 20rem;
					z-index: 99;
					-webkit-box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.5);
					-moz-box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.5);
					box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.5);
					transition: 0.4s all;
   					-webkit-transition: all 0.4s;
					@media (max-width: 992px) {
						position: relative;
						width: 100%;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						border-left: 0.8rem solid $green;
					}
					li {
						margin: 0;
						display: block;
						a {
							padding: 1rem;
							color: $purple;
							display: block;
							text-align: left;
							&:hover {
								color: $white;
								background: $green;
							}
							@media (max-width: 992px) {
								&:hover {
									color: $green;
									background: none;
								}
							}
						}
					}
					.menu-item-has-children {
						&:hover {
							.sub-menu {
								visibility: visible;
								max-height: 1000px;
								opacity: 1;
							}
						}
						.sub-menu {
							visibility: hidden;
							opacity: 0;
							max-height: 0; 
							width: 20rem;
							z-index: 98;
							top: 0;
							left: 20rem;
							-webkit-box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.5);
							-moz-box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.5);
							box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.5);
							transition: 0.4s all;
   							-webkit-transition: all 0.4s;
							@media (max-width: 992px) {
								position: relative;
								width: 100%;
								left: 0;
								-webkit-box-shadow: none;
								-moz-box-shadow: none;
								box-shadow: none;
							}
						}
					}
				}
			}
			.featured {
				a {
					border-radius: 0.5rem;
					padding: 0.5rem 1.5rem;
					display: inline-block;
					text-align: center;
					background: $green;
					border: 2px solid $green;
					color: $white!important;
					transition: 0.4s all;
   					-webkit-transition: all 0.4s;
					&:hover {
						color: $white;
						background: $green;
						opacity: 0.8;
					}
					@media (max-width: 992px) {
						background: none;
						border: none;
						display: block;
						padding: 1rem 0;
						color: $green!important;
						&:hover {
							color: $green!important;
							background: none;
							opacity: 1;
						}
					}
				}
			}
			.current-menu-item {
				a {
					color: $white;
					display: block;
					border-radius: 0 0 0.25rem 0.25rem;
					padding: 3rem 1.5rem;
					background-color: $green;
					-webkit-box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
					-moz-box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
					box-shadow: 0 0.0 0.5rem 0 rgba(255, 255, 255, 0.5);
					@media (max-width: 992px) {
						padding: 1rem 0;
					}
				}
			}
		}
    }
}