.hero {
	.slider {
		position: relative;
		overflow: hidden;
		.swiper-container {
			width: 100%;
			.slide {
				padding: 25rem 0;
				@media (max-width: 1200px) {
					padding: 20rem 0;
				}
				@media (max-width: 992px) {
					padding: 15rem 0 5rem 0;
				}
			}
		}
		.video {
			position: absolute;
			top: 0;
			@media (max-width: 1200px) {
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
			}
			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: #0c154c;
				opacity: 0.75;
			}
			video {
				width: 100%;
				@media (max-width: 1200px) {
					height: 100vh;
					width: auto;
				}
			}
		}
	}
}