.partners {
	.col-4 {
		.partner {
			margin: 0 2rem 2rem 0;
			@media (max-width: 992px) {
				margin: 0 2rem 2rem 0;
			}
		}
		&:nth-of-type(3n+3) {
			.partner {
				margin-right: 0;
			}
		}
	}
}