.section {
	&--left {
		.col-md-6 {
			&:nth-of-type(1) {
				order: 1;
			}
			&:nth-of-type(2) {
				order: 2;
			}
			@media (max-width: 992px) {
				&:nth-of-type(1) {
					order: 2;
				}
				&:nth-of-type(2) {
					order: 1;
				}
			}
		}
	}
	&--right {
		.col-md-6 {
			&:nth-of-type(1) {
				order: 2;
			}
			&:nth-of-type(2) {
				order: 1;
			}
		}
	}
	&--d-blue {
		background: $d-blue;
	}
	&--blue {
		background: $blue;
	}
	&--l-blue {
		background: $l-blue;
	}
	&--black {
		background: $black;
	}
	&--lined {
		position: relative;
		&:before {
			content: "";
			height: 100%;
			width: 0.5rem;
			background: $d-blue;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		@media (max-width: 768px) {
			&:before {
				display: none;
			}
		}
	}
	&--intro {
		padding-top: 15rem!important;
		padding-bottom: 7.5rem!important;
		@media (max-width: 768px) {
			padding-top: 12rem!important;
		}
		.col-md-6 {
			.button-container {
				padding-top: 0!important;
				border: 0!important;
			}
		}
		.icon {
			border: 0.4rem solid $white;
			border-radius: 100%;
			display: inline-block;
			object {
				width: 12rem;
				height: 12rem;
				display: block;
				padding: 1.5rem;
			}
		}
	}
	.col-md-6, .col-6 {
		h2 {
			margin-bottom: 4rem;
		}
		a {
			color: $white;
			transition: 0.2s all;
			-webkit-transition: all 0.2s;
			&:hover {
				text-decoration: none;
				opacity: 0.75;
			}
		}
		
		.button-container {
			margin-top: 3rem;
			padding-top: 3rem;
			border-top: 0.5rem solid $d-blue;
			display: inline-block;
		}
		.form {
			h3 {
				color: $black!important;
				&:before {
					color: $red!important;
				}
			}
		}
	}
}