.button {
	border-radius: 2.5rem;
	padding: 1rem 4rem;
	display: inline-block;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin-right: 1rem;
	text-transform: uppercase;
    font-weight: 700;
	transition: 0.4s all;
    -webkit-transition: all 0.4s;
	&:hover {
		text-decoration: none;
		opacity: 0.8;
	}
	&:last-of-type {
		margin-right: none;
	}
	@media (max-width: 992px) {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	@media (max-width: 768px) {
		display: block;
		width: 100%;
		margin: 1rem 0;
	}
	&--white {
		background: $white;
		border: 0.2rem solid $white;
		color: $blue!important;
		&:hover {
			color: $white!important;
			background: none;
		}
	}
	&--white-line {
		background: none;
		border: 0.2rem solid $white;
		color: $white!important;
		&:hover {
			color: $d-blue!important;
			background: $white;
		}
	}
	&--green {
		background: $green;
		border: 0.2rem solid $green;
		color: $white!important;
		&:hover {
			color: $green!important;
			background: none;
		}
	}
	&--green-line {
		background: none;
		border: 0.2rem solid $green;
		color: $green!important;
		&:hover {
			color: $white!important;
			background: $green;
		}
	}
	&--red {
		background: $red;
		border: 0.2rem solid $red;
		color: $white!important;
		&:hover {
			color: $red!important;
			background: none;
		}
	}
	&--red-line {
		background: none;
		border: 0.2rem solid $red;
		color: $red!important;
		&:hover {
			color: $white!important;
			background: $red;
		}
	}
}