.pagination {
	display: inline-block;
	background: $black;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	li {
		display: inline-block;
		margin: 0 1rem;
		font-weight: bold;
		a {
			color: $black;
			i {
				color: $black;
			}
		}
	}
	.active {
		span {
			color: $black;
		}
	}
}