.swiper-container {
	.swiper-pagination {
		position: relative;
    	text-align: left;
		.swiper-pagination-bullet {
			background-color: transparent;
			height: 1.4rem;
			width: 1.4rem;
			border: 0.3rem solid $green;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: $d-blue;
			border: 0.3rem solid $d-blue;
		}
	}
}