//website colours
$green: #13A89E;
$l-blue: #38384C;
$blue: #232336;
$d-blue: #171A2E;
$red: #CA4046;
$grey: #C3C3C3;
$d-grey: #BABABA;

//generic colours
$white: #fff;
$black: #1B1B1B;

.green {
	color: $green!important;
}

.l-blue {
	color: $l-blue!important;
}

.blue {
	color: $blue!important;
}

.d-blue {
	color: $d-blue!important;
}

.red {
	color: $red!important;
}

.grey {
	color: $grey!important;
}

.d-grey {
	color: $d-grey!important;
}