@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap'); 

h1, h2, h3, h4, h5, h6 {
	
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 7.4rem;
	line-height: 8.4rem;
	font-weight: 700;
	@media (max-width: 992px) {
		font-size: 5.4rem;
		line-height: 6.4rem;
	}
	@media (max-width: 768px) {
		font-size: 3.4rem;
		line-height: 4.4rem;
	}
}

h2 {
	font-size: 3.2rem;
	line-height: 3.6rem;
	font-weight: 700;
	text-transform: uppercase;
	@media (max-width: 992px) {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}
	@media (max-width: 768px) {
		font-size: 2.6rem;
		line-height: 2.8rem;
	}
}

h3 {
	color: $green;
	&:before {
		content: "\002B24";
		margin-right: 0.5rem;
	}
}

h3, h4 {
	font-size: 1.6rem;
	line-height: 2.6rem;
	font-weight: 700;
	text-transform: uppercase;
	@media (max-width: 992px) {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}



p {
	font-size: 1.6rem;
	line-height: 2.6rem;
	@media (max-width: 992px) {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

ul, ol {
	margin: 0;
	padding-left: 1.5rem;
	li {
		font-size: 1.6rem;
		line-height: 2.6rem;
		@media (max-width: 992px) {
		}
		@media (max-width: 768px) {
		}
	}
}

.footer-icon {
	color: $white;
	font-size: 5rem;
	border: 0.3rem solid $white;
	border-radius: 100%;
	padding: 1rem;
	height: 5rem!important;
	width: 5rem!important;
}