/*--------------------------------------------------------------
>>> SASS Imports
--------------------------------------------------------------*/

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/dist/css/swiper.css";

/*--------------------------------------------------------------*/

// Base
@import "base/colours";
@import "base/typography";

// Components
@import "components/buttons";
@import "components/form";
@import "components/pagination";
@import "components/square";
@import "components/slider";

// Layout
@import "layout/footer";
@import "layout/header";

@import "layout/hero";
@import "layout/section";
@import "layout/featured-posts";
@import "layout/latest-case-studies";
@import "layout/partners";

// Themes
@import "themes/cms";
@import "themes/features";
@import "themes/browser";

// Utilities
//@import "utilities/reset";
//@import "utilities/normalize";

// Vendors
@import "vendors/cf7";



html { 
	//overflow-x: hidden;
	overflow-y: scroll; 
	overflow: -moz-scrollbars-vertical;
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	background: $blue;
	color: $white;
}

.container {
	max-width: 120rem;
}